package com.cloud.service;

import com.cloud.util.BaseServiceInterface;
import com.cloud.param.${className}Param;
import ${package}.${moduleName}.${className};

/**
 * ${comments}
 *
 * @author ${author} ${email}
 * @since ${version} ${date}
 */
public interface ${className}Service extends BaseServiceInterface<${className}, ${className}Param, Long> {

}