package com.cloud.service.impl;

import org.springframework.beans.factory.annotation.Autowired;
import com.cloud.param.${className}Param;
import ${package}.${moduleName}.${className};
import com.cloud.mapper.${className}Mapper;
import com.cloud.service.${className}Service;
import com.github.pagehelper.PageHelper;
import com.github.pagehelper.PageInfo;

import java.util.List;

import org.springframework.stereotype.Service;


import java.util.Map;

/**
 * ${comments}
 *
 * @author ${author} ${email}
 * @since ${version} ${date}
 */
@Service
public class ${className}ServiceImpl implements ${className}Service {


    @Autowired
        ${className}Mapper ${classNames}Mapper;

    @Override
    public int save(${className} entity) {
        return ${classNames}Mapper.insert(entity);
    }

    @Override
    public int update(${className} entity) {
        if (entity.getId() == null || entity.getId() == 0L) {
            // 自己定义的异常方法
        }

        return ${classNames}Mapper.updateById(entity);
    }

    @Override
    public int remove(Long id) {
        if (id == null || id == 0L) {
            // 自己定义的异常方法
        }
        return ${classNames}Mapper.deleteById(id);
    }

    @Override
    public ${className} getById(Long id) {
        if (id == null || id == 0L) {
            // 自己定义的异常方法
        }

        return ${classNames}Mapper.selectById(id);
    }

    @Override
    public PageInfo<${className}> pageQuery(${className}Param queryParam) {
        return PageHelper.startPage(queryParam.getPn(), queryParam.getPs())
                .doSelectPageInfo(() -> ${classNames}Mapper.listQuery(queryParam));
    }


}